:root {
	--main-white: rgb(255, 255, 255);
	--slate-300: rgb(214, 226, 240);
	--slate-500: rgb(104, 119, 141);
	--slate-900: rgb(31, 50, 81);
}
body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.container {
	width: 320px;
	height: 500px;
	padding: 16px;
	background-color: var(--main-white);
	border-radius: 20px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.text-container {
	text-align: center;
	font-family: outfit;
	padding: 0 16px;
}
h2 {
	color: var(--slate-900);
	font-size: 22px;
	line-height: 120%;
	letter-spacing: 0;
}

p {
	font-size: 15px;
	color: var(--slate-500);
	line-height: 140%;
	letter-spacing: 0.2px;
	font-weight: regular;
}
img {
	border-radius: 10px;
	margin-bottom: 24px;
}
body {
	background-color: var(--slate-300);
}
